<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c9019404-04ad-4e8f-a5c8-373bf3fc74b1/resourceGroups/Integrify-fs13/providers/Microsoft.Web/sites/Backend-Ecommerce-WebAPI-FS13</ResourceId>
    <ResourceGroup>Integrify-fs13</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://backend-ecommerce-webapi-fs13.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://backend-ecommerce-webapi-fs13.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Backend-Ecommerce-WebAPI-FS13</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>