<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c9019404-04ad-4e8f-a5c8-373bf3fc74b1/resourceGroups/ecommerce-postgresql-group/providers/Microsoft.Web/sites/ecommerce-dotnet-backend</ResourceId>
    <ResourceGroup>ecommerce-postgresql-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ecommerce-dotnet-backend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ecommerce-dotnet-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ecommerce-dotnet-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>